.body{
    overflow-x: hidden;
}
.header-ul li:hover{
    color:red;
}
.header-div{
    background-color: black;
    color:white;
    text-align: center;
    padding:20px;
}
.main-header{
    font-size: 28px;
    font-weight: 700;
}
.sort-by-latest{
    display: flex;
    justify-content: space-between;
}
#sort-latest{
border: none;
}
.header-section{
  background-image:
 
  linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.35)
  ),
  url('./images/cover.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   align-items: center;
   align-content: center;
   justify-content: center;
   justify-items: center;
   text-align: center;
    
}
.header-title{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.header-button{
    padding:18px;
}
.arrival-div{
    display: flex;
    justify-content: space-between;
}
.category-section{
    background-color: rgb(248, 238, 240);
}
.hurry-up-section {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(39, 38, 38, 0.6) ),url('./images/discount2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-items: center;
    align-content: center;
    padding:300px 200px 300px 200px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 50px;
    margin-right:50px;
}
@media screen and (max-width:576px) {
    .header-title{
    font-size:20px;
    font-weight: 500; 
    padding-bottom: 10px;
    }
    .header-button{
    font-size: 10px;;
    padding:10px;
    border-radius: 10px;
    }
    .arrival-div{
        flex-direction:column;
    }
    .hurry-up-section{
        padding:20px 50px;
        margin-top:10px;
    margin-bottom:15px;
    margin-left: 20px;
    margin-right:20px;
    }
}

/* Custom Infinity Floating Animation */
[data-aos="fade-up"] {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  40% { transform: rotate(14deg); }
  50% { transform: rotate(-4deg); }
  60% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.fox-wave {
  transform-origin: bottom center;
  animation: wave 2s infinite;
}


@media screen and (min-width:576px) and (max-width:991px) {
     .header-title{
    font-size:30px;
    font-weight: 600; 
    padding-bottom: 15px;
    }
    .header-button{
    font-size: 15px;;
    padding:10px;
    border-radius: 10px;
}
}