.header-ul li:hover{
    color:red;
}
.header-div{
    background-color: black;
    color:white;
    text-align: center;
    padding:20px;
}
.main-header{
    font-size: 28px;
    font-weight: 700;
}
.sort-by-latest{
    display: flex;
    justify-content: space-between;
}
#sort-latest{
border: none;
}
.header-section{
  background-image:
 
  linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.35)
  ),
  url('./images/cover.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   align-items: center;
   align-content: center;
   justify-content: center;
   justify-items: center;
   text-align: center;
    
}
.header-title{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.header-button{
    padding:18px;
}
.arrival-div{
    display: flex;
    justify-content: space-between;
}
.category-section{
    background-color: rgb(248, 238, 240);
}
.hurry-up-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.6) ),url('./images/discount2.jpg');
    text-align: center;
}
@media screen and (max-width:576px) {
    .header-title{
    font-size:20px;
    font-weight: 500; 
    padding-bottom: 10px;
    }
    .header-button{
    font-size: 10px;;
    padding:10px;
    border-radius: 10px;
}
}
@media screen and (min-width:576px) and (max-width:991px) {
     .header-title{
    font-size:30px;
    font-weight: 600; 
    padding-bottom: 15px;
    }
    .header-button{
    font-size: 15px;;
    padding:10px;
    border-radius: 10px;
}
}